@import "../../styles/_colors.scss";

.navItem {
    font-size: 20px;

    color: $black-font;
    transition: all 0.3s linear;

    &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;

        background: $black-font;
        transition: all 0.3s linear;
    }

    &:hover::after {
        width: 100%;
    }

    &_active {
        cursor: default;
        pointer-events: none;

        &::after {
            width: 100%;
        }
    }

    &_dark_theme {
        color: $white-font;

        &::after {
            background: $white-font;
        }
    }
}
