/node_module
yarn.lock
/dist
webpack.config.js
webpack.config.dev.js
webpack.config.prod.js
/src/components/Chart/chart.config.ts
/src/components/Chart/chart.interfaces.ts
/src/components/Notification