@import "../../styles/colors";

.link {
    font-size: 20px;

    color: $grey;
    transition: all 0.3s linear;

    &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;

        background: $grey-font;
        transition: all 0.3s linear;
    }

    &:hover::after {
        width: 100%;
    }
}
