/* Fonts */

$white-font: #ffffff;
$light-grey-font: #d9d9d9;
$grey-font: #a7b2c3;
$dark-grey-font: #898989;
$black-font: #000000;

/* Title Gradient */

$title-gradient-begin: #00ce2c;
$title-gradient-middle: #aedf23;
$title-gradient-end: #a3dc00;

/* Header Gradient */

$header-gradient-begin: #247940;
$header-gradient-end: #121212;

/* Primary */

$grey: #474747;
$white: #ffffff;
$black: #000000;
$green: #00bc4f;
$dark-background: #030304;
$light-background: #ffffff;
