@import "../../styles/colors";

.container {
    background-color: $light-background;

    &_dark_theme {
        background-color: $dark-background;
    }
}

.wrapper {
    max-width: 1460px;
    width: 90%;
    margin: 0 auto;
}
