@import "../../styles/colors";

.footer {
    margin-top: 50px;
    padding-bottom: 25px;

    text-align: center;

    &Row {
        margin-bottom: 50px;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        text-align: left;
    }

    &Content {
        width: 42%;
    }

    &TitleRow {
        margin-bottom: 30px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    &Title {
        font-weight: 600;
        font-size: 26px;

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(
            to right,
            $title-gradient-begin,
            $title-gradient-middle,
            $title-gradient-end
        );
    }

    &Text {
        font-size: 24px;
    }

    &Accordion {
        width: 50%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &Sign {
        font-size: 24px;
        font-weight: 400;

        color: $dark-grey-font;
    }

    &DarkTheme {
        &Text {
            font-size: 24px;
            color: $white-font;
        }
    }
}
