@import "../../styles/colors";

.title {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 28px;

    &DarkTheme {
        color: $white-font;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
